* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  background-image: url("../public/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
body::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 9;
}
.header {
  padding: 2em 60px;
  color: #fff;
  position: relative;
  z-index: 9;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu-mobile {
  display: flex;
  align-items: center;
}
.header .menu-mobile img {
  width: 20px;
  height: 20px;
}
.support {
  cursor: pointer;
}
.support a {
  color: #fff;
}
.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  padding: 0.5em 0;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd !important;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 1px solid #4caf50;
  border-color: #ddd;
  box-shadow: 0 0 8px rgba(0, 120, 255, 0.3);
}
button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
.box-idea {
  margin: 2em 0 1em 0;
}
.idea {
  background-color: #c1e4fc;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 15px;
}
.idea i {
  color: #3498db;
}
.list-idea {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.list-idea li {
  background-color: #eee;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
}
.box-idea .content {
  margin-top: 1em;
}
.result {
  margin-top: 20px;
  padding: 15px 15px 15px 25px;
  /* background-color: #f8f9fa; */
  border-radius: 5px;
  white-space: pre-wrap;
  /* text-align: center; */
  max-height: 600px;
  overflow: auto;
}

.loader {
  text-align: center;
  /* display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 20px auto;*/
}
.loader-icon {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navbar {
  position: absolute;
  width: 300px;
  height: 800px;
  padding: 1em;
  border-radius: 12px;
  z-index: 10;
  left: 10px;
  top: 110px;
  background-color: #fff;
}
.navbar h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5em;
}
.navbar .list {
  list-style: none;
  padding-top: 1em;
}

.navbar .list li {
  cursor: pointer;
  margin: 0.2em 0;
  padding: 0.6em;
  /* background-color: #eee; */
  border-radius: 6px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .list li:hover {
  background-color: oklch(95.43% 0.0074 260.73);
  /* color: #fff; */
}
.navbar .list .active {
  background-color: oklch(95.43% 0.0074 260.73);
}
.navbar .list li .date-created {
  font-size: 12px;
  color: #686868;
  padding-top: 0.3em;
}

.navbar .icon-delete {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 10px;
  z-index: 5;
}
.navbar .history-empty {
  color: #333;
  font-size: 14px;
  text-align: center;
  padding-top: 40px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.3em;
    padding-bottom: 1em;
    text-align: center;
  }
  .container {
    padding: 10px;
    /* box-shadow: none;
    background-color: transparent; */
  }
  .result {
    margin-top: 10px;
    padding: 8px;
    background-color: transparent;
  }
  .list-idea {
    flex-wrap: wrap;
  }
  .navbar {
    display: none;
  }
  .header {
    padding-left: 1em;
    padding-right: 1em;
  }
}
